[submodule "output"]
	path = output
	url = ssh://git@github.com/ramtinms/random-walk.git
	ignore = all
[submodule "themes/pelican-alchemy"]
	path = themes/pelican-alchemy
	url =  ssh://git@github.com/ramtinms/pelican-alchemy.git 
